<a href="https://colab.research.google.com/github/Siddhesh-07/DA_pw_assignments/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Print nmber from 1 to 5 ing a while loop.

In [ ]:
i = 0
while i < 5:
  i += 1
  print(i)

1
2
3
4
5

2. Calclate the m of nmber from 1 to 10 ing a while loop.

In [ ]:
import numpy as np
i = 0
l = []
while i < 10:
  i = i+1
  l.append(i)
print(np.sum(l))

55

3.  B Calclate the factorial of a nmber ing a for loop.

In [ ]:
result = 1
for i in range(1,6):
  result = result * i
print(result)

120

4.  Cont the nmber of vowel in a tring ing a for loop.

In [ ]:
txt = 'India'
count = 0
v = 'aeiouAEIOU'
for i in txt:
  if i in v:
    count += 1

print(count)

3

5.  Print a pattern ing neted loop.

In [ ]:
for i in range(1, 5):
  for j in range(1, i + 1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *

6.  Generate a mltiplication table ing neted loop.

In [ ]:
for j in range(1,6):
  for i in range(1,11):
    result = j*i
    print(f'{j} x {i} = {result}')
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50