<a href="https://colab.research.google.com/github/Siddhesh-07/DA_pw_assignments/blob/main/Type_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Covert an integer to a floating-point number.

In [ ]:
a = 2
type(a)

int

In [ ]:
b = float(a)
print(b)
type(b)

2.0

float

2. Covert a float to a integer.

In [ ]:
type(b)

float

In [ ]:
c = int(b)
print(c)
type(c)

2

int

3. Covert a integer to a string

In [ ]:
a

2

In [ ]:
d = str(a)
print(d)
type(d)

2

str

4.  Covert a list to a tuple.

In [ ]:
l = [1,2,3,4,5]
type(l)

list

In [ ]:
t = tuple(l)
type(t)

tuple

5.  Covert a tuple to a list.

In [ ]:
t

(1, 2, 3, 4, 5)

In [ ]:
ls = list(t)
type(ls)

list

6.  Covert a decimal umber to biary.

In [ ]:
def binary(num):

	if num >= 1:
		binary(num // 2)
	print(num % 2, end = ' ')

binary(4)

0 1 0 0

7.  Covert a non-zero number to boolean

In [ ]:
a = 1
type(a)

int

In [ ]:
b = bool(1)
print(b)
type(b)

True

bool